{% extends "layout.html" %}
{% block content %}
    <h6 class="border-bottom border-secondary mb-4">Log de errores ({{ lista.count() }})</h6>
    <a class="bi btn btn-outline-danger" href="#" data-toggle="modal" data-target="#deleteModal" title="Eliminar registros de errores">Limpiar registro</a>
    <br>
    <br>
    {% for error in lista %}
        <article title="{{ error.traceback }}" class="media content-section-list">            
            <div class="media-body">
                <a href="{{ url_for('errors.error_log', error_log_id=error.id) }}">
                    <h6 >Fecha: <b>{{ error.date_created }}</b></h6>
                    <h6 class="article-title" >Usuario: <b>{{ error.user }}</b></h6>
                    <small class="article-title" >Descripción: <b>{{ error.error }}</b></small>                    
                </a>                
            </div>
        </article>
    {% endfor %}

      <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">¿Seguro desea eliminar el Log de errores"?</h5>
              <button type="button" class="Cerrar" data-dismiss="modal" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <form action="{{ url_for('errors.delete_errors_log') }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Borrar">
              </form>
            </div>
          </div>
        </div>
      </div>
    
{% endblock content %}
