{% extends "blog/layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="content-section">
        <a href="{% url 'todo' %}">&#8592; Atrás</a>
        <form method="POST">
            {% csrf_token %} <!--cross site request forgery token -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Eliminar Item</legend>
                <h2>¿Seguro desea eliminar el item "{{ item.title }}"?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Eliminar</button>
            </div>
        </form>
    </div>
</article>
{% endblock content %}