body {
  background: #161616;
  color: #333333;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00BCD4;
}

ul {
  margin: 0;
}


.navbar {
  background-color: #003860;
}

.navbar button {
  background: none;
}

.navbar button:hover {
  background: none;
  cursor: pointer;
  color: #ffffff;
}

.site-header .navbar-nav .nav-link,
button {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #04242e;
  color: #d0d0d0;
  padding: 10px 20px;
  border: 1px solid #114152;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #c7c5c5;
}

a.article-title:hover {
  color: #8fb1cf;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}