.item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3a6475;
    border-top: 1px solid #034d0f;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px;
    margin-left: 20px;
}

.item-title {
    display: flex;
    padding: 10px;
}

.item-title a {
    text-decoration: none;
    color: #eef0f1;
    margin-left: 10px;
}

.item-complete-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(105, 192, 105);
    border-radius: 50%;
}

.item-incomplete-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(218, 218, 218);
    border-radius: 50%;
}

.delete-link {
    text-decoration: none;
    font-weight: 900;
    color: #cf4949;
    font-size: 22px;
    line-height: 0;
    padding: 10px 10px;
}


#add-link {
    color: #EB796F;
    text-decoration: none;
    font-size: 42px;
    text-shadow: 1px 1px #81413b;
}


@media screen and (max-width:320px) {
    #search-add-wrapper {
        padding: 10px;
    }
}

input[type=text], input[type=password], textarea {
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 10px;    
}

::placeholder {
    font-weight: 300;
    opacity: 0.7;
}